.nav a:hover {
  border-bottom: 3px solid azure;
}

.background:hover{
  scale: 1.1;
  transition: 5s;
}

body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 span:hover{
  transition: 2s;
  color: rgb(215, 250, 250);
  cursor: default;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(215, 250, 250, 0); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 255, 255, 0); 
} 

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(46, 45, 45, 0); 
  border-radius: 10px;
}

;
::-webkit-scrollbar:hover {
  width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 250, 250); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 250, 250); 
} 

::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px rgb(113, 133, 151); 
  border-radius: 10px;
}
